@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Poppins&family=Roboto&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

:root{
  font-size: 62.5%;
  font-family: 'Roboto';

}

.page{
  min-width: 420px;
  width: 100%;
  background-color: #efeccd;
  font-size: 1.6rem;
}

header{
  background-image: url(/assets/parnaiba-pi.png) ;
  background-size: cover;
  /* display: flex; */
  

}

header img{
  width: 8.5rem;
  height: 6.5rem;
  border: 1px solid #aa9f9f;
  border-radius: 0.6rem;
  margin: 1.6rem;
}

header h1{
  font-weight: 900;
  font-size: 4.8rem;
  text-align: center;
  margin: 2rem 0rem 3.6rem;
  font-family: 'poppins';
}

nav{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

nav a{
 /* coloquei display flex para centralizar os nomes  dentro do box*/
  align-items: center;
  background-color:  #C5DEEF;
  border-radius: 36px;
  border:  1px solid #A0A0A0;
  color: #000000;
  display: flex;
  height: 8.2rem;
  justify-content: center;
  margin-bottom: 2.4rem;
  text-decoration: none;
  width: 19.7rem;
}
nav a:hover{
  color: #e0c374;
  
}

.banner{
  display: none;
}

main{
  text-align: center;
  margin-top: 3.5rem;
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  margin-bottom: 9.5rem;
 
}

main h4{
  font-size: 3.6rem;
  color: #000000;
}

main h5{
  font-size: 3rem;
  color: #424242;
}

.main-wrapper{
  display: flex ;
  flex-direction: column;
  gap: 4.7rem;
  align-items: center;
}

.main-wrapper img{
  width: 100%;
  max-height: 35rem;
  /* border-radius: 3.1rem; */
}
.video-wrapper iframe{
  width: 100%;
  max-height: 57.5rem;
  padding: 4rem;
}

.main-card {
  max-width: 38rem;
  gap: 1.5rem;
  
  display: flex;
  border-radius: 3.1rem;
  flex-direction: column;
  align-items: center;
  background-color: #FFFF;
}

.main-card p{
  padding: 2rem;
}
button{
  border: none;
  background-color: #F6D665;
  border-radius: 1rem;
  padding: 1rem 3rem;
  margin-bottom: 2rem;
}
button:hover{
  scale: 1.1;
  background-color: #f9f51c;
}


footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 3rem;
  padding: 2rem;
  background-color: #dfda9d;
}

  footer h5{
    font-size: 3.7rem;
  }

  @media (min-width: 900px) {
    .banner{
      display: flex;
      width: 100%;

    }
    .banner img{
      width: 100%;
    }
    header{
      justify-content: space-between;

    }

    .header-left{
      display: flex;
      flex-direction: row;
    }

    nav{
      flex-direction: row;
      justify-content: end;
      align-items: flex-end;
      
    }

    nav a{
      border: none;
      background-color:  #c5deef00;
      width: 12.7rem;
      font-weight: 700;
      font-size: 2.6rem;
    
    }
    header h1{
      text-align: start;
      text-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
      padding-left: 2rem;
    }

    
    .main-wrapper{
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
    }

    .footer-link{
      display: flex;
      flex-direction: row;
      gap: 10rem;
      
    }
    .footer-reference{
      display: flex;
     gap: 10rem;
    }

  }