@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
  padding: 0;
  margin: 0;
  
}

:root{
  font-size: 62.5%;
  font-family: 'Roboto';

}

.page{
  min-width: 420px;
  width: 100%;
  background-color: #C4C4C4;
  font-size: 1.6rem;
}

header{
  background-image: url(/assets/parnaiba-pi.png) ;
  background-size: cover;
  

}


header img{
  width: 8.5rem;
  height: 6.5rem;
  border: 1px solid #aa9f9f;
  border-radius: 0.6rem;
  margin: 1.6rem;
}

header h1{
  font-weight: 900;
  font-size: 4.8rem;
  text-align: center;
  margin: 2rem 0rem 3.6rem;
}

nav{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
}

nav a{
     /* coloquei display flex para centralizar os nomes  dentro do box*/
  align-items: center;
  background-color:  #C5DEEF;
  border-radius: 36px;
  border:  1px solid #A0A0A0;
  color: #000000;
  display: flex;
  height: 8.2rem;
  justify-content: center;
  margin-bottom: 2.4rem;
  text-decoration: none;
  width: 19.7rem;
}

main{
  text-align: center;
  margin-top: 3.5rem;
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  margin-bottom: 9.5rem;
 
}

main h4{
  font-size: 3.6rem;
  color: #000000;
}

main h5{
  font-size: 3rem;
  color: #424242;
}

.main-wrapper{
  display: flex ;
  flex-direction: column;
  gap: 4.7rem;
  align-items: center;
}

.main-wrapper img,iframe{
  max-width: 38rem;
  max-height: 35rem;
  border-radius: 3.1rem;
}

  footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 3rem;
    padding: 2rem;
  }

  footer h5{
    font-size: 3.7rem;
  }

  